<h3><%= @movie.title %></a></h3>
<p>Rating: <%= @movie.rating %></p>
<p>Starring: <%= @movie.female_lead %></p>
<p>Starring: <%= @movie.male_lead %></p>
<p>Released: <%= @movie.year_released %></p>
<p>Run time: <%= @movie.run_time %></p>
<p>Auditorium: <%= @movie.auditorium.id %></p>