<div class="container">
  <hr>
  <h1><%= @movie.title %></a></h1>
  <hr>
  <h4>Rating: <%= @movie.rating %></h4>
  <h4>Starring: <%= @movie.female_lead %></h4>
  <h4>Starring: <%= @movie.male_lead %></h4>
  <h4>Released: <%= @movie.year_released %></h4>
  <h4>Run time: <%= @movie.run_time %></h4>
  <h4>Auditorium: <%= @movie.auditorium.id %></h4>

  <h2>Showing At:</h2>
  <% @movie.showtimes.each do |showtime| %>
    <h3><%= movie.showtime %></a></h3>
  <% end %>
  
  <br>
  
  <h4>Limit One Ticker Per Order</h4>

  <%= form_tag "/orders", method: :post do %>
    <%= submit_tag "Buy Now", class: "btn btn-primary" %>
  <% end %>

  <%= link_to "Edit", "/movies/#{@movie.id}/edit" %> |
  <%= link_to "Delete", "/movies/#{@movie.id}", method: :delete %>

</div>