<% @auditorium.errors.full_messages.each do |error| %>
  <p> <%= error %> </p>
<% end %>

<hr>
<h1>New Auditorium</h1>
<hr>

<%= form_tag "/auditoriums", method: :post do %>
  <div class="form-group">
    <%= label_tag :title, "Movie Theater ID:" %>
    <%= text_area_tag :title, @question.title, :class => "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <span class="text-danger"> * </span>
    <%= label_tag :title, "Question:" %>
    <%= text_area_tag :problem, @question.problem, :class => "form-control" %>
  </div>
  <br>
  <div>
    <%= label_tag :status, "Assign Status: " %><br>
    <%= select_tag :status, options_for_select([
                                                "Open",
                                                "Answered"],
                                                @question.status) %>
  </div>
  <br>
  <div class="form-group">
    <%= submit_tag "Submit your Question", :class => "btn btn-sm btn-success" %>
  </div>
<% end %>