<% @auditorium.errors.full_messages.each do |error| %>
  <p> <%= error %> </p>
<% end %>

<div class="container">
  <hr>
  <h1>Add a New Auditorium</h1>
  <hr>

  <%= form_tag "/auditoriums", method: :post do %>
    <%= hidden_field_tag :id, 1 %>
    <div class="form-group">
      <%= label_tag :id, "Auditorium ID:" %>
      <%= number_field_tag :id, @auditorium.id, :class => "form-control" %>
    </div>
    <br>

    <div class="form-group">
      <%= submit_tag "Create a New Auditorium", :class => "btn btn-sm btn-success" %>
    </div>
  <% end %>
</div>