<div class="container">
  <h2><%= @user.first_name %> <%= @user.last_name %></h2>
  <h4>Email: <%= @user.email %></h4>
  <h4>Phone: <%= @user.phone %></h4>
  <h4>Text Option: <%= @user.text_option %></h4>
  <h4>Birthdate: <%= @user.birthdate.strftime("%m/%d/%Y") %></h4>
  <h4>Type: <%= @user.type %></h4>
  <br>
  
  <%= link_to "Edit", "/users/#{@user.id}/edit" %> |
  <%= link_to "Delete", "/users/#{@user.id}", method: :delete %>
</div>